$backgroundColor: teal;
$divider1: calc((100% - 500px) / 2);
$divider2: $divider1 + 500px;
$gameAreaWidth: 500px;

html {
  background-color: $backgroundColor;
  //   display: inline-block;
}

.vl {
    border-left: 6px solid black;
    height: 100%;
    position: absolute;
    margin-right: -2px;
    top: 0;
  }

.container {
    flex: 1 0 0;
}

.background {
  background-size: cover;
  background-color: $backgroundColor;
  margin: 0px;
}

.shop-area {
  position: relative;
  float: left;
  height: 100vh;
  width: $divider1;
}

.game-area {
  position: relative;
  margin-top: 50px;
  width: $gameAreaWidth;
  height: 100vh;
  float: left;
}

.third-area {
  position: relative;
  float: left;
  height: 100vh;
  width: $divider1;
}

.game-board {
  position: relative;
  margin: 50px auto;
  margin-top: 1px;
  width: $gameAreaWidth;
  height: 500px;
  border: 2px solid black;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid #fff;
  z-index: 1;
}

.total-food {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  z-index: 2;
}

.total-food-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background-color: green;
  opacity: 0.5;
  z-index: 1;
}
